  <div class="flex h-screen w-screen">
    <div class="bg-gray-800 flex-0 p-10 text-white">
        <h1 class="text-3xl font-bold mb-4">FTI Campus Hub</h1>
        <p class="mb-8">Welcome Back! Please enter your details.</p>
        
        <form action="/auth/login" method="POST" class="space-y-4">
          <div class="mb-4">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-400">Email</label>
              <input name="email" type="email" id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Email" required>
          </div>
          <div class="mb-6">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-400">Password</label>
              <input name="password" type="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Password" required>
          </div>
          <div class="flex items-center justify-between">
              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Sign In</button>
              <a href="/forgot_password" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" >Forgot your password?</a>
          </div>
        </form>
                      
        <div class="mt-4"> 
          <p class="text-sm text-gray-400">Don't have an account? <a href="/register" class="text-blue-500 hover:text-blue-800">Sign up</a></p>
        </div>
    </div>
    <div class="flex-1 bg-cover bg-center " style="background-image: url('/images/fti.png');"></div>
  </div>