<div class="rounded-3xl mt-4 max-w-[945px]" role="region" aria-label="Activity Statistics">
<div class="flex gap-5 max-md:flex-col">
    <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
      <div class="flex flex-col grow px-5 py-8 w-full text-xl font-semibold text-white bg-cyan-600 rounded-3xl max-md:mt-10" role="status" aria-label="Ongoing Activities">
        <div>Jumlah Kegiatan</div>
        <div class="self-start mt-4" aria-atomic="true">{{data.totalKegiatan}}</div>
      </div>
    </div>
    <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
      <div class="flex flex-col grow px-5 py-8 w-full text-xl font-semibold text-white bg-cyan-600 rounded-3xl max-md:mt-10" role="status" aria-label="Ongoing Activities">
        <div>Kegiatan yang Akan Berlangsung</div>
        <div class="self-start mt-4" aria-atomic="true">{{data.kegiatanAkanBerlangsung}}</div>
      </div>
    </div>
    <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
      <div class="flex flex-col grow px-5 py-8 w-full text-xl font-semibold text-white bg-cyan-600 rounded-3xl max-md:mt-10" role="status" aria-label="Ongoing Activities">
        <div>Kegiatan Berlangsung</div>
        <div class="self-start mt-4" aria-atomic="true">{{data.kegiatanBerlangsung}}</div>
      </div>
    </div>
    <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
      <div class="flex flex-col grow px-5 py-8 w-full text-xl font-semibold text-white bg-cyan-600 rounded-3xl max-md:mt-10" role="status" aria-label="Ongoing Activities">
        <div>Kegiatan Selesai</div>
        <div class="self-start mt-4" aria-atomic="true">{{data.kegiatanSelesai}}</div>
      </div>
    </div>
  </div>
</div>