<div>
  {{#if error}}
    <p class="text-red-500">{{error}}</p>
  {{/if}}
  <form method="POST" action="/kegiatan/tambah" class="flex flex-col px-12 py-10 mt-20 bg-gray-700 rounded-3xl w-full text-xl font-semibold">
    <label for="penyelenggara_id" class="mt-4 text-white">ID Penyelenggara</label>
    <input type="number" name="penyelenggara_id" id="penyelenggara_id" class="px-8 pt-3 mt-1 bg-white rounded-3xl text-black-800 text-opacity-50" />

    <label for="nama_kegiatan" class="mt-4 text-white">Nama Kegiatan</label>
    <input type="text" name="nama_kegiatan" id="nama_kegiatan" class="px-8 pt-3 mt-1 bg-white rounded-3xl text-black-800 text-opacity-50" />

    <label for="deskripsi" class="mt-4 text-white">Deskripsi Kegiatan</label>
    <input type="text" name="deskripsi" id="deskripsi" class="px-8 pt-3 mt-1 bg-white rounded-3xl text-black-800 text-opacity-50" />

    <label for="tanggal_mulai" class="mt-4 text-white">Tanggal Mulai</label>
    <input type="date" name="tanggal_mulai" id="tanggal_mulai" class="px-8 pt-3 mt-1 bg-white rounded-3xl text-black-800 text-opacity-50" />
    
    <label for="tanggal_selesai" class="mt-4 text-white">Tanggal Selesai</label>
    <input type="date" name="tanggal_selesai" id="tanggal_selesai" class="px-8 pt-3 mt-1 bg-white rounded-3xl text-black-800 text-opacity-50" />
    
    <label for="batas_pendaftaran" class="mt-4 text-white">Batas Pendaftaran</label>
    <input type="date" name="batas_pendaftaran" id="batas_pendaftaran" class="px-8 pt-3 mt-1 bg-white rounded-3xl text-black-800 text-opacity-50" />
    
    <label for="kuota" class="mt-4 text-white">Kuota</label>
    <input type="number" name="kuota" id="kuota" class="px-8 pt-3 mt-1 bg-white rounded-3xl text-black-800 text-opacity-50" />

    <label for="lokasi" class="mt-4 text-white">Lokasi</label>
    <input type="text" name="lokasi" id="lokasi" class="px-8 pt-3 mt-1 bg-white rounded-3xl text-black-800 text-opacity-50" />

    <button type="submit" class="self-center px-4 py-2 mt-10 text-white bg-cyan-600 rounded-3xl focus:outline-none focus:ring-2 focus:ring-cyan-700">
      Simpan
    </button>
  </form>
</div>
