<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/auth.css' />
    <script src="https://cdn.tailwindcss.com"></script>
    {{!-- <title>FTI Campus Hub</title> --}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
